{% extends "layout.html" %} {% block content %}
<section class="dashboard">
  <div class="text-box">
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ user.name }}</p>
  </div>

  <div class="content-container">
    <div class="dashboard_stats">
      <div class="dashboard_card">
        <h3>Total Content</h3>
        <p>{{ total_content }}</p>
      </div>
      <div class="dashboard_card">
        <h3>Approved Content</h3>
        <p>{{ approved_content }}</p>
      </div>
      <div class="dashboard_card">
        <h3>Pending Content</h3>
        <p>{{ pending_content }}</p>
      </div>
      <div class="dashboard_card">
        <h3>Total Specialists</h3>
        <p>{{ total_specialists}}</p>
      </div>
    </div>

    <div class="sidebar">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a href="{{ url_for('main.add_specialist') }}">Add Specialists</a>
        </li>
        <li>
          <a href="{{ url_for('main.review_content') }}">Review Content</a>
        </li>
        <li><a href="{{ url_for('main.view_reports') }}">View Reports</a></li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
