<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Prostate Cancer Awareness{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="layout-container">
      <header>
        {% if current_user.is_authenticated %} {% if current_user.is_admin %}
        <!-- Admin navbar -->
        <nav class="nav">
          <ul class="nav_links">
            <li>
              <a href="{{ url_for('main.home') }}" class="nav_link">Home</a>
            </li>
            <li>
              <a href="{{ url_for('main.dashboard') }}" class="nav_link"
                >Dashboard</a
              >
            </li>
          </ul>
          <div class="btn-group">
            <a href="{{ url_for('main.logout') }}" class="btn">Logout</a>
          </div>
        </nav>
        {% else %}
        <!-- Non-Admin Authenticated Users -->
        <nav class="nav">
          <ul class="nav_links">
            <li>
              <a href="{{ url_for('main.home') }}" class="nav_link">Home</a>
            </li>
            <li>
              <a href="{{ url_for('main.symptom_checker') }}" class="nav_link"
                >Diagnosis</a
              >
            </li>
            <li>
              <a href="{{ url_for('main.specialists') }}" class="nav_link"
                >Specialists</a
              >
            </li>
            <li>
              <a href="{{ url_for('main.report') }}" class="nav_link"
                >Report Issue</a
              >
            </li>
          </ul>
          <div class="btn-group">
            <a href="{{ url_for('main.logout') }}" class="btn">Logout</a>
          </div>
        </nav>
        {% endif %} {% else %}
        <!-- Guest -->
        <nav class="nav">
          <ul class="nav_links">
            <li>
              <a href="{{ url_for('main.home') }}" class="nav_link">Home</a>
            </li>
          </ul>
          <div class="btn-group">
            <a href="{{ url_for('main.login') }}" class="btn--ghost">Login</a>
            <a href="{{ url_for('main.signup') }}" class="btn">Sign Up</a>
          </div>
        </nav>

        {% endif %}
      </header>

      <main class="main-content">
        <!-- Main Content Block -->
        {% block content %} {% endblock %}
      </main>
    </div>
  </body>
</html>
